
 body{
 	font: 20px Arial, sans-serif
 }

 .navbar {
	background-color: #eeeeee;
}

.quem-somos{
	background-color: #848484;
	color: white;
}
.margin{
	padding-bottom: 50px;
	padding-top: 10px;
}
.parceiros{
	background-color: #5882FA;
	color: white;
}
.bg-footer{
	background-color: black;
	color: white;
}