body {
  font: 20px Arial, sans-serif;
}

.quem-somos {
  background-color: #091353;
  color: white;
}
#servicos {
  background-color: #b2f9fc;
}
.margin {
  padding-bottom: 50px;
  padding-top: 10px;
}
.parceiros {
  background-color: #9d84b7;
  color: white;
  padding: 2rem 2rem 5rem;
}
.footer {
  text-align: center;
  background-color: #d5d5d5;
  color: #334756;
  padding: 1rem 0 1rem 0;
}
#navbarNavAltMarkup {
  justify-content: right;
}

.navbar-brand {
  display: contents;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
#ImageNav {
  margin-right: 1rem;
}

.navbar {
  background-color: #c6c7c8;
}
.img {
  border-radius: 20px;
}
.marginTitle {
  margin: 1rem 0 1rem 0;
}
