body {
  font: 20px Arial, sans-serif;
}

.navbar {
  background-color: #d5d5d5;
}

.nav-item {
  color: white;
  margin-right: 1rem;
}
.quem-somos {
  background-color: #091353;
  color: white;
}
#serviços {
  background-color: #b2f9fc;
}
.margin {
  padding-bottom: 50px;
  padding-top: 10px;
}
.parceiros {
  background-color: #9d84b7;
  color: white;
}
.footer {
  text-align: center;
  background-color: #d5d5d5;
  color: #334756;
  padding: 1rem 0 1rem 0;
}
